<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>AED</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>AFN</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>ALL</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>AMD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>ANG</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>AOA</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>ARS</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>AUD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>AWG</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>AZN</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>BAM</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>BBD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>BDT</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>BGN</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>BHD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>BIF</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>BMD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>BND</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>BOB</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>BRL</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>BSD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>BTN</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>BWP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>BYR</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>BZD</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>CAD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>CDF</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>CHF</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>CLP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>CNY</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>COP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>CRC</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>CUC</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>CUP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>CVE</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>CZK</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>DJF</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>DKK</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>DOP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>DZD</string>
		</dict>
	</array>
	<key>E</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>EGP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>ERN</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>ETB</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>EUR</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>FJD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>FKP</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>GBP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>GEL</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>GHS</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>GIP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>GMD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>GNF</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>GTQ</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>GWP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>GYD</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>HKD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>HNL</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>HRK</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>HTG</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>HUF</string>
		</dict>
	</array>
	<key>I</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>IDR</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>ILS</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>INR</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>IQD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>IRR</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>ISK</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>JMD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>JOD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>JPY</string>
		</dict>
	</array>
	<key>K</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>KES</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>KGS</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>KHR</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>KMF</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>KPW</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>KRW</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>KWD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>KYD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>KZT</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>LAK</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>LBP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>LKR</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>LRD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>LSL</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>LTL</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>LVL</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>LYD</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>MAD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>MDL</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>MGA</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>MKD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>MMK</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>MNT</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>MOP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>MRO</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>MUR</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>MVR</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>MWK</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>MXN</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>MYR</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>MZE</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>MZN</string>
		</dict>
	</array>
	<key>N</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>NAD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>NGN</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>NIO</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>NOK</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>NPR</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>NZD</string>
		</dict>
	</array>
	<key>O</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>OMR</string>
		</dict>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>PAB</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>PEN</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>PGK</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>PHP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>PKR</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>PLN</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>PYG</string>
		</dict>
	</array>
	<key>Q</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>QAR</string>
		</dict>
	</array>
	<key>R</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>RON</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>RSD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>RUB</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>RWF</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>SAR</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>SBD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>SCR</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>SDG</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>SEK</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>SGD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>SHP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>SKK</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>SLL</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>SOS</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>SRD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>SSP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>STD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>SVC</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>SYP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>SZL</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>THB</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>TJS</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>TMT</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>TND</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>TOP</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>TRY</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>TTD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>TWD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>TZS</string>
		</dict>
	</array>
	<key>U</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>UAH</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>UGX</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>USD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>UYU</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>UZS</string>
		</dict>
	</array>
	<key>V</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>VEF</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>VND</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>VUV</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>WST</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>XAF</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>XCD</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>XOF</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>XPF</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>YER</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>ZAR</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>ZMW</string>
		</dict>
	</array>
</dict>
</plist>
